.hello {
    color: red;
  }

#panel {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    z-index: 99;
    left: 1vw;
    top: 2vh;
    /* background-color: rgb(221, 221, 221, .9); */
    width: 95vw;
    border-radius: 20px;
}

#popup-panels {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0.605);
    top: 15vh; 
    left: 1vw;  
    height: 80vh;
    width: 15vw;
    border-radius: 20px;
    display: none;
}

#main-section {
    margin: 5%;
    display: flex;
    flex-direction: row;
}

#close {
    position: relative; 
    top: 0%;
    right: -30%;
    height: 3vh;
}

#line-panel {
    position: absolute;
    display: block;
}

.container {
    background-color: rgb(221, 221, 221, .9);
}

#search-dropdown {
    height: 25vh;
    overflow-y: scroll;
    display: none;
}

#search-dropdown :hover {
    background-color: chartreuse;
}

/* #search :hover + #search-dropdown {
    display: block;
} */